/* Footer design */

.wrapper-ms {
  background-color: #333333;
  padding: 20px;
}

.wrapper-ms i {
  text-decoration: none;
  color: #CCCCCC;
  font-size: 30px;
  margin: 20px;
}

.wrapper-ms p {
  color: #CCCCCC;
}

/*How shoould I do to kill the components of bootstrap?*/
.footer-margin0 {
  margin: 0;
}

